*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header__section{
    background-image: url(IMG_1697.JPG);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 20vh;
    background-image: no-repeat;
    background-repeat: no-repeat;
       
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: yellow;
}
.link{
    color: brown;
    display: flex;
    align-items: center;
    justify-self:self-start;
}